// colors

$color-white: #ffffff;
$color-primary: #343a3f;
$color-secondary: #f4f4f4;
$color-secondary-dark: #d4d9dd;
$color-secondary-border: #d3d3d3;
$color-secondary-background: #f3f3f3;
$color-secondary-button: #e8e8e8;
$color-accent-blue: #4888ff;
$color-accent-purple: #672870;
$color-bg-gradient: linear-gradient(135deg, #672870 20%, #4fe0ff 100%);
$color-bg-gradient-mobile:
  #fff, linear-gradient(146deg, rgba(103, 40, 112, 0.9) 10.22%, #4fe0ff 100%);

// fonts

$font-primary: 'Maza', sans-serif;
$font-secondary: 'TenorSans', serif;
